<nav>
    <div class="main">
        <div class="left">
            <button class="home" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-icon-button
                aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
            </button>
        </div>
        <div class="right">
            <button class="registerbtn" mat-stroked-button routerLink="/register"
                routerLinkActive="active"
                *ngIf="!checkUser.checkUserLoggedIn"
                >Register</button>
            <button class="loginbtn" mat-stroked-button routerLink="/login" 
                routerLinkActive="active"
                *ngIf="!checkUser.checkUserLoggedIn"
                >Log In</button>
            <button class="loginbtn" mat-stroked-button  
                (click)="logOut()"
                *ngIf="checkUser.checkUserLoggedIn"
            >Log Out</button>
            <button class="loginbtn" mat-stroked-button  
                (click)="goToProfile()"
                *ngIf="checkUser.checkUserLoggedIn"
            >Profile</button>
        </div>
    </div>
</nav>