.main {
    display: flex;
    justify-content: space-between;
    background: #3fb6fe;
    padding: 9px;
}
.loginbtn {
    margin-left: 10px;
}
.home{
    color: white;
}
.registerbtn{
    color: white;
}
.loginbtn{
    color: white;
}